<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- NAVBAR -->
    <div class="navbar">
        <h1 class="title">TrueWeather</h1>
        <div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Weather</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
    </div>

    <!-- MAIN-BODY -->
    <div class="header">
        <div class="right">
            <figure>
                <img src="./images/404error.png" alt="image">
            </figure>
        </div>
        <div class="left">
            <p>Welcome to weather app</p>
            <h1>{{errorMsg}}</h1>
            <button><a href="/">Go back</a></button>
        </div>
    </div>


    <!-- FOOTER -->
    <footer class="footer">
        <p class="footer-text">made by saurabh kumar</p>
    </footer>
</body>
</html>