<div class="navbar">
        <h1 class="title">TrueWeather</h1>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>